//
//  Config.xcconfig
//  NearFuture
//
//  Created by neon443 on 29/04/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TEAM_ID = 8JGND254B7
BUNDLE_ID = com.neon443.NearFuture
BUNDLE_ID_WIDGETS = com.neon443.NearFuture.widgets
GROUP_ID  = group.NearFuture
VERSION = 3.2.1
NAME = Near Future
BUILD_NUMBER = 5
